---
layout: default
---

<div class="home">
  <p>Waterloo is boring. Very boring. We get it. It’s not Toronto or the Valley, but that doesn’t mean you can’t have a good time here. If you’re like us, you’re probably in the city anywhere from 4 to 8 months every year for at least 5 years. So let’s make the best of that time, shall we? </p>

<p>We’ve spoken to many people and there’s just too many that have never gotten off campus, or been to Kitchener. This guide is meant to help you and your friends find awesome events in the city and fill up on amazing grub, and is meant as a gateway to some of the lesser known places in the city.</p>

<p>Let’s make Waterloo great again, together.</p>
  <div class="hero-container">
    {% for my_page in site.pages %}
      {% if my_page.title %}
      <div class="page">
        <a class="post-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <h1 class="page-heading">Contribute</h1>

  <h1 class="page-heading">Credits</h1>
</div>
